$yellow: #FFDF4C;
$logo-red: #ed1c24;
$logo-navy: #1b1464;
$green: #57C150;

$blue: #4978FF;
$dark-blue: #023BA7;
$white: #fff;
$grey: #F2F2F2;
$red: #FF4447;
$green: #0FC47A;
$navy: #031D40;
$light-navy: #24305E;


$font-stack: 'Work Sans', sans-serif;
$font-big: 'Poppins', sans-serif;
$bold: 700;
$normal: 500;
