@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: 100% "Work Sans", sans-serif;
  color: #1b1464; }

.container {
  display: grid;
  grid-template-areas: "header" "hero" "search" "about" "footer"; }

nav {
  padding: 1rem;
  display: grid;
  grid-area: header;
  grid-template-columns: repeat(3, 1fr);
  background: #FFDF4C; }
  nav #logo-text {
    font-size: 1.2rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700; }
  nav a {
    padding-left: 1rem;
    color: #1b1464;
    text-decoration: none;
    font-size: 1.1rem; }
  nav .logo {
    width: 7%; }
  nav .logo-text {
    justify-self: center;
    align-items: center; }
  nav .links {
    align-items: center;
    justify-self: end; }

.hero {
  grid-area: hero;
  height: 45vw;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: #031D40; }

span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #FFDF4C; }

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 3rem;
  margin-top: 5rem;
  text-align: center; }

.search-section {
  grid-template-areas: "text" "chips" "articles";
  grid-area: search;
  background: #031D40;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  text-align: center; }
  .search-section .search-chips {
    grid-area: chips; }
  .search-section h2 {
    padding-bottom: 1rem; }
  .search-section button:hover {
    background: #FFDF4C;
    font-weight: 700; }
  .search-section .active {
    background: #0FC47A;
    font-weight: bold; }
  .search-section .active:hover {
    background: #0FC47A;
    font-weight: bold; }
  .search-section button {
    background: #fff;
    padding: .6rem 3rem;
    border-radius: 25px;
    margin: 0 1rem 0 1rem;
    color: #031D40;
    font-size: 1.1rem; }
  .search-section .articles {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-area: articles;
    color: #fff;
    margin-top: 3rem;
    margin-left: 5rem;
    grid-gap: 20px 50px; }
    .search-section .articles a {
      text-decoration: none; }
    .search-section .articles .article-card {
      z-index: 1;
      background: #FFDF4C;
      border-radius: 2rem;
      color: #031D40;
      text-decoration: none; }
    .search-section .articles .article-title {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 1.5rem; }
    .search-section .articles .article-desc {
      font-size: 1rem; }
    .search-section .articles .article-info {
      padding: 1rem;
      margin-bottom: 1rem; }
    .search-section .articles img {
      border-radius: 2rem 2rem 0 0;
      width: 100%; }

.about {
  grid-area: about;
  height: 90vh;
  background: #031D40;
  line-height: 4.5rem;
  color: #fff; }
  .about h2 {
    font-size: 3.5rem; }
  .about .mission, .about .whoami {
    margin: 2rem 3rem; }
    .about .mission h5, .about .whoami h5 {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      color: #1b1464;
      display: inline;
      font-size: 2rem;
      background: #FFDF4C;
      border-radius: 3rem;
      padding: .5rem 2rem .5rem 2rem; }
    .about .mission p, .about .whoami p {
      color: #fff;
      text-align: left;
      margin: 1rem 0 0 1rem;
      line-height: 2rem; }
  .about .whoami {
    text-align: right; }
    .about .whoami p {
      text-align: right; }

.footer {
  background: #FFDF4C;
  text-align: center;
  padding: 2rem; }
